<div class="container">
    <div *ngIf="(basketService.basketSource$ | async) ===null">
        There are no items in the basket yet.
    </div>

    <ng-container *ngIf="(basketService.basketSource$ | async) as basket">
        <div class="container">
            <div class="row">
               <app-basket-summary
                    (addItem)="incrementQuantity($event)"

                    (removeItem)="deleteProductFromBasket($event)"
               ></app-basket-summary>
            </div>
            <div class="row">
                <div class="col-6 offset-6 mb-2">
                    <app-order-summary></app-order-summary>
                    <div class="d-grid">
                        <a routerLink="/checkout" class="btn btn-outline-success py-2">
                            Proced to checkout
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
    </ng-container>
</div>