<div class="row">
    <div class="d-flex justify-content-start align-text-center m-5">
        <button class="btn btn-outline-primary ms-3" (click)="get400Error()" >400</button>
        <button class="btn btn-outline-primary ms-3" (click)="get404Error()" >404</button>
        <button class="btn btn-outline-primary ms-3" (click)="get500Error()">500</button>
        <button class="btn btn-outline-primary ms-3" (click)="get400ValidationError()">400 validation</button>
    </div>
    <div class="row">
        <div *ngIf="validationErrors">
            <ul class="text-danger">
                <li *ngFor="let error of validationErrors">
                    {{error}}
                </li>
            </ul>
        </div>
    </div>
</div>