.cart-no{
    position: absolute;
    border-radius: 50%;
    background-color: blue;
    right:5px;
    top:-10px;;
    text-align: center;
    color: white;
    min-width: 25px;
    min-height: 25px;
}

a {
    text-decoration: none;
    color: #ccc;
    cursor: pointer;
    &.active {
        color: orange !important;
    }
}

.logo-element {
    cursor: pointer;
}