<!-- <header class="d-flex flex-row align-items-center justify-content-between 
p-3 px-4 mb-3 border-bottom fixed-top shadow-sm border-bottom bg-white">
    
      <a  class="d-flex align-items-center text-dark text-decoration-none logo-element" routerLink="/">
        <i class="fa fa-circle-thin fa-2x bg-white"></i>
      </a>

      <nav class="my-2 text-uppercase fs-4">
        <a class=" p-2 text-dark text-decoration-none" 
          routerLink="/" 
          routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a class=" p-2 text-dark text-decoration-none" routerLink="/shop" routerLinkActive="active">Shop</a>
        <a class="p-2 text-dark text-decoration-none" routerLink="/errors" routerLinkActive="active">Contact Us</a>
      </nav>
   
      <div class="d-flex align-items-center">
        <a routerLink="/basket" class="position-relative">
            <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
            <div class="cart-no">5</div>
        </a>
        <a href="" class="btn btn-outline-secondary me-2">Login</a>
        <a href="" class="btn btn-outline-secondary me-3">Sign Up</a>
      </div>
  </header> -->
  <div class="container">
    <nav class="navbar navbar-expand-lg fixed-top bg-primary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand logo-element" routerLink="/">
          <img src="" alt="Logog for my shop">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" 
                routerLink="/" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact:true}">Home
                
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/shop" routerLinkActive="active">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/errors" routerLinkActive="active">Contacts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </li> -->
          </ul>
          
          <!-- <form class="d-flex">
            <input class="form-control me-sm-2" type="search" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form> -->
        </div>
      </div>
      <div class="d-flex align-items-center">
        <a routerLink="/basket" class="position-relative">
            <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
            <div class="badge bg-info" *ngIf="(basketService.basketSource$ | async ) as basket" class="cart-no">
                {{getCount(basket.items)}}
            </div>
        </a>
        <a href="" class="btn btn-outline-secondary me-2">Login</a>
        <!-- <a href="" class="btn btn-outline-secondary me-3">Sign Up</a> -->
      </div>
    </nav>
  </div>
  


