.cart-no{
    position: absolute;
    border-radius: 50%;
    background-color: blue;
    right:32px;
    top:-12px;;
    text-align: center;
    color: white;
    min-width: 25px;
    min-height: 25px;
}